[tool.poetry]
name = "sonicare-bletb"
version = "0.0.2"
description = "Bluetooth library for Sonicare toothbrushes"
authors = ["S. Schutten <schutten@hotmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/Bluetooth-Devices/sonicare-bletb"
documentation = "https://sonicare-bletb.readthedocs.io"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
]
packages = [
    { include = "sonicare_bletb", from = "src" },
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/Bluetooth-Devices/sonicare-bletb/issues"
"Changelog" = "https://github.com/Bluetooth-Devices/sonicare-bletb/blob/main/CHANGELOG.md"

[tool.poetry.dependencies]
python = "^3.9"

# Documentation Dependencies
Sphinx = {version = "^5.0", optional = true}
sphinx-rtd-theme = {version = "^1.0", optional = true}
myst-parser = {version = "^0.18", optional = true}
bluetooth-sensor-state-data = ">=1.6.0"
bluetooth-data-tools = ">=0.1.2"
bleak = ">=0.19.2"
home-assistant-bluetooth = ">=1.6.0"
bleak-retry-connector = ">=2.13.0"

[tool.poetry.extras]
docs = [
    "myst-parser",
    "sphinx",
    "sphinx-rtd-theme",
]

[tool.poetry.dev-dependencies]
pytest = "^7.0"
pytest-cov = "^3.0"

[tool.poetry.group.dev.dependencies]
mock = ">=5.0.0"
pytest-asyncio = ">=0.20.0"

[tool.semantic_release]
branch = "main"
version_toml = "pyproject.toml:tool.poetry.version"
version_variable = "src/sonicare_bletb/__init__.py:__version__"
build_command = "pip install poetry && poetry build"

[tool.pytest.ini_options]
addopts = "-v -Wdefault --cov=sonicare_bletb --cov-report=term-missing:skip-covered"
pythonpath = ["src"]

[tool.coverage.run]
branch = true

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "@overload",
    "if TYPE_CHECKING",
    "raise NotImplementedError",
]

[tool.isort]
profile = "black"
known_first_party = ["sonicare_bletb", "tests"]

[tool.mypy]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
mypy_path = "src/"
no_implicit_optional = true
show_error_codes = true
warn_unreachable = true
warn_unused_ignores = true
exclude = [
    'docs/.*',
    'setup.py',
]

[[tool.mypy.overrides]]
module = "tests.*"
allow_untyped_defs = true

[[tool.mypy.overrides]]
module = "docs.*"
ignore_errors = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
